<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/assinatura.css">
    <script src="https://kit.fontawesome.com/72d61580ec.js" crossorigin="anonymous"></script>
    <script src="../script/logout.js"></script>
    <title>Assinatura</title>
</head>
<body>
    <div class="header">
        <a href="#" class="logo">MUNDO PET</a>
        <nav class="navbar">
            <a href="../index.html">Início</a>
            <a href="home.html">Home</a>
            <a href="assinatura.html">Assinatura</a>
            <a href="#">Dúvidas Frequentes</a>
            <a href="#">Sobre</a>
        </nav>
        <div class="botao">
            <a href="cadastro.html">
                <button class="cadastrar">Cadastre-se</button>
            </a>
            <a href="login.html">
                <button class="entrar">Entrar</button>
            </a>
            <a href="../index.html">
                <button class="entrar" onclick="logout()">Sair</button>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-title">
                <h2>Cães</h2>
                <p><i class="fa-solid fa-dollar-sign"></i><span>129</span>/mês</p>
            </div>
            <div class="card-content">
                <ul>
                    <li><i class="fa fa-check-circle"></i>Acesso a serviços veterinários</li>
                    <li><i class="fa fa-check-circle"></i>Descontos em ração premium</li>
                    <li><i class="fa fa-check-circle"></i>Consulta gratuita de treinamento</li>
                    <li><i class="fa fa-check-circle"></i>Banho e tosa com desconto</li>
                    <li><i class="fa fa-check-circle"></i>Descontos em produtos para pets</li>
                    <li><i class="fa fa-check-circle"></i>Vacinas gratuitas</li>
                </ul>
                <button><a href="#">Assinar Agora</a></button>
            </div>
        </div>
        
        <div class="card">
            <div class="card-title">
                <h2>Gatos</h2>
                <p><i class="fa-solid fa-dollar-sign"></i><span>149</span>/mês</p>
            </div>
            <div class="card-content">
                <ul>
                    <li><i class="fa fa-check-circle"></i>Acesso a consultas veterinárias</li>
                    <li><i class="fa fa-check-circle"></i>Descontos em areias e rações</li>
                    <li><i class="fa fa-check-circle"></i>Serviços de adestramento</li>
                    <li><i class="fa fa-check-circle"></i>Brinquedos gratuitos todo mês</li>
                    <li><i class="fa fa-check-circle"></i>Descontos em produtos para pets</li>
                    <li><i class="fa fa-check-circle"></i>Vacinas gratuitas</li>
                </ul>
                <button><a href="#">Assinar Agora</a></button>
            </div>
        </div>
    
        <div class="card">
            <div class="card-title">
                <h2>Hamsters</h2>
                <p><i class="fa-solid fa-dollar-sign"></i><span>59</span>/mês</p>
            </div>
            <div class="card-content">
                <ul>
                    <li><i class="fa fa-check-circle"></i>Acesso a alimentos de qualidade</li>
                    <li><i class="fa fa-check-circle"></i>Descontos em acessórios</li>
                    <li><i class="fa fa-check-circle"></i>Consulta veterinária a cada 6 meses</li>
                    <li><i class="fa fa-check-circle"></i>Brinquedos inclusos</li>
                    <li><i class="fa fa-check-circle"></i>Descontos em produtos para pets</li>
                    <li><i class="fa fa-check-circle"></i>Vacinas gratuitas</li>
                </ul>
                <button><a href="#">Assinar Agora</a></button>
            </div>
        </div>
    
        <div class="card">
            <div class="card-title">
                <h2>Coelhos</h2>
                <p><i class="fa-solid fa-dollar-sign"></i><span>79</span>/mês</p>
            </div>
            <div class="card-content">
                <ul>
                    <li><i class="fa fa-check-circle"></i>Ração e feno de qualidade</li>
                    <li><i class="fa fa-check-circle"></i>Consultas veterinárias gratuitas</li>
                    <li><i class="fa fa-check-circle"></i>Brinquedos mensais</li>
                    <li><i class="fa fa-check-circle"></i>Descontos em acessórios</li>
                    <li><i class="fa fa-check-circle"></i>Descontos em produtos para pets</li>
                    <li><i class="fa fa-check-circle"></i>Vacinas inclusas</li>
                </ul>
                <button><a href="#">Assinar Agora</a></button>
            </div>
        </div>
    
        <div class="card">
            <div class="card-title">
                <h2>Pássaros</h2>
                <p><i class="fa-solid fa-dollar-sign"></i><span>69</span>/mês</p>
            </div>
            <div class="card-content">
                <ul>
                    <li><i class="fa fa-check-circle"></i>Acesso a rações premium</li>
                    <li><i class="fa fa-check-circle"></i>Descontos em gaiolas</li>
                    <li><i class="fa fa-check-circle"></i>Consulta veterinária sem custo</li>
                    <li><i class="fa fa-check-circle"></i>Brinquedos a cada 3 meses</li>
                    <li><i class="fa fa-check-circle"></i>Descontos em produtos para pets</li>
                    <li><i class="fa fa-check-circle"></i>Vacinas gratuitas</li>
                </ul>
                <button><a href="#">Assinar Agora</a></button>
            </div>
        </div>
    </div>    
</div>

</body>
</html>
